<label><%= field.title %></label>
<%= '*required' if field.is_required %>
<br/>

<% field.field_options.each do |option| %>
  <% temp = get_model_object_option(field, @form_submission.id, option.label) %>
  <%= f.fields_for :answers, temp do |a| %>
    <%= a.hidden_field :field_id, value: field.id %>
    <%= option.label %><%= a.check_box :answer, { checked: !temp.new_record?}, option.label, "to_be_deleted" %><br/>
  <% end %>
<% end %>
