<label><%= field.title %></label>
<% if params[:action]=='edit' %>
  <% answer_ = field.answers.find_by(form_submission: @form_submission) %>
  <%= f.fields_for :answers, answer_ do |a| %>
    <%= a.hidden_field :field_id, value: field.id %>
    <%= a.hidden_field :answer, value: 'its_a_file_field' %>
    <%= a.file_field :images, class:"form-control" %>
    <% if answer_.images.attached? %>
      Currently selected: <%= link_to answer_.images.filename, rails_blob_path(answer_.images, disposition: 'preview' ) %>
    <% else %>
      <p>No file given</p>
    <% end %>
  <% end %>
<% else %>
  <%= f.fields_for :answers, field.answers.build do |a| %>
    <%= a.hidden_field :field_id, value: field.id %>
    <%= a.hidden_field :answer, value: 'its_a_file_field' %>
    <%= a.file_field :images, class:"form-control" %>
  <% end %>
<% end %>