<label><%= field.title %></label>
<%= '*required' if field.is_required %>

<% temp=get_model_object(field, @form_submission.id) %>

<%= f.fields_for :answers, temp do |a| %>
  <%= a.hidden_field :field_id, value: field.id %>
  <%= a.text_area :answer, class:"form-control" %>
<% end %>
