<div>
  <%= link_to 'Create Admin--', admin_new_users_path %>
</div>
<div class="mt-4">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Admin Name</th>
        <th scope="col">Actions</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @admins.each do |admin| %>
        <tr class="shadow-sm mt-2">
          <td><%= admin.username %><% if admin.id==current_user.id %>(<%="me"%>)<% end %></td>
          <td><%= link_to 'Edit', edit_user_path(admin), class:"btn btn-warning nav-item" %></td>
          <td><%= link_to 'Delete', user_path(admin), method: :delete, class:"btn btn-danger nav-item" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>