<%= render 'layouts/flash_messages' %>
<div class="container">
  <h3>Changing password of: <%= @user.username %></h3>
  <%= form_with model: @user, url: post_password_user_path(@user), method: "POST" do |user| %>
    <%= user.label :Enter_password %>
    <%= user.password_field :password, class:"form-control" %>
    <%= user.label :Enter_password_again %>
    <%= user.password_field :password_confirmation, class:"form-control" %>
    <%= user.submit 'update', class:"btn btn-danger p-1 mt-2" %>
  <% end %>
</div>