<div class="nested-fields mt-4">
  <div class="container-fluid border border-dark rounded p-3 m-2">
    <div class="row m-0">
      <div class="col-6">
        <span class="text-success"><%= field_type %></span>
      </div>
      <div class="col-6">
        <div class="d-flex flex-row-reverse">
          <%= link_to_remove_association 'Delete', f, class:"btn btn-danger" %>
        </div>
      </div>
    </div>
    <%= f.hidden_field :field_type, value: field_type %>
    <div id="form_field">
      <%= f.label :question, class:"mt-1" %>
      <%= f.text_field :title, class:"form-control", placeholder:"Enter your question here..." %>
      <div class="mt-2">
        <%= f.check_box :is_required, class: 'form-check-input mt-1' %> <label class="form-check-label">Make this field required</label>
      </div>
      <% if field_type=="Radio" || field_type=="CheckBox" %>
        <%= f.fields_for :field_options do |field_option| %>
          <%= render 'field_option_fields', f:field_option %>
        <% end %>
        <div class="links" id="form_field_option">
          <div class="d-flex flex-row-reverse">
            <%= link_to_add_association 'Add Option', f, :field_options, class:"btn btn-primary mt-2"  %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>