<%= link_to 'go back', request.referrer, class:"btn btn-dark p-1" %>
<h2><%= @field.title %></h2>
<% @answers.each do |answer| %>
  <div class="border m-2 p-2">
    <% if @field.field_type=="FileField" %>
      <% answer.images.each do |image| %>
        <div class="row">
          <div class="col-3">
            <%= link_to image.filename, rails_blob_path(image, disposition: 'preview' ) %>
          </div>
          <div class="col-auto border p-1">
            <%= image_tag(image, height: '25') %>
          </div>
        </div>
        <br/>
        <% end %>
    <% else %>
      <%= answer.answer %>
    <% end %>
  </div>
<% end %>