<div class="container">
    <%= form_with model: @form, local: false do |form| %>
        <div class="text-center">
            <%= form.label :title_of_form %>
            <%= form.text_field :title, class:"mb-2 mt-2" %>
            <div class="container">
                <form></form>
                <% for field in @form_fields %>
                    <% fd = field.class.to_s %>
                    <% fd = fd.to_sym %>
                    <% @field_types[fd] %>
                    <%= render @field_types[fd][:partial], parent: @form, obj: field %>
                <% end %>
                <div id="form-fields">
                    <br>
                </div>
                <%= render 'new_field_form', form_id: @form.id %>
            </div>
        </div>
        <%= form.submit 'Save From', class: "btn btn-success mb-4", style: "float: right", id: "form-submit" %>
    <% end %>
</div>