<%= render 'layouts/flash_messages' %>
<h2>Survey Name </h2><p class="border border-success rounded p-2"><%= @form.title %></p>
<h2>Form Type </h2><p class="border border-success rounded p-2"><%= @form.form_type %></p>
<% @form.fields.each do |field| %>
  <h2><%= field.field_type %> </h2><p class="border border-success rounded p-2"><%= field.title %></p>
  <% field.field_options.each do |option| %>
    <div class="container">
      <p class="border border-success rounded p-2"><%= option.label %> <%= option.label_value unless option.label_value.blank? %> </p>
    </div>
  <% end %>
<% end %>
<%= link_to 'Edit', edit_form_path(@form), class:"btn btn-warning" %>