<div class="container">
 
  <div class="row">
  <div class="col-6">
    <% if current_user.super_admin? %>
      <div>
        <%= link_to 'make organization', new_user_organization_path(current_user) %>  
      </div>
    <% end %>
  </div>
  <div class="col-auto">
    <%= form_tag user_organizations_path(current_user), method: :get do %>
      <div class="input-group">
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag 'search', class:"btn btn-dark p-1" %>
      </div>
    <% end %>
  </div>
</div>
  <br/>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Organization Name</th>
        <th scope="col"></th>
        <th scope="col">Actions</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @organizations.each do |organization| %>
        <tr class="shadow-sm mt-2">
          <td><%= organization.name %></td>
          <td><%= link_to 'Show', user_organization_path(current_user, organization), class:"btn btn-success" %></td>
          <td><%= link_to 'Edit', edit_user_organization_path(current_user, organization), class:"btn btn-warning" %></td>
          <td><%= link_to 'Delete', user_organization_path(current_user, organization), method: :delete, class:"btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
