<ul class="nav flex-column h-100 sticky-top bg-light" style="height: 100vh">
  <% if user_signed_in? && current_user.super_admin? %>
    <li class="nav-item border">
      <%= link_to 'Organizations', user_organizations_path(current_user), class:"nav-link" %>
    </li>
  <% elsif user_signed_in? && current_user.admin? %>
    <li class="nav-item border">
      <%= link_to 'Surveys', forms_path, class:"nav-link" %>
    </li>
    <li class="nav-item border">
      <%= link_to 'Managers', managers_users_path, class:"nav-link" %>
    </li>
    <li class="nav-item border">
      <%= link_to 'Admins', admins_users_path, class:"nav-link" %>
    </li>
  <% elsif user_signed_in? && current_user.manager? %>
    <li class="nav-item border">
      <%= link_to 'Surveys', forms_path, class:"nav-link" %>
    </li>
  <% end %>
</ul>