<% if user_signed_in? %>
  <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark p-1">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SurveySpot</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to 'Home', root_path, class:"nav-link" %>
          </li>
          <% if user_signed_in? && current_user.super_admin? %>
            <li class="nav-item">
              <%= link_to 'Organizations', user_organizations_path(current_user), class:"nav-link" %>
            </li>
          <% elsif user_signed_in? && ( current_user.admin? || current_user.manager? ) %>
            <li class="nav-item">
              <%= link_to current_user.organization.name, root_path, class:"nav-link" %>
            </li>
          <% end %>

        </ul>
        <form class="d-flex">
            
            <% if user_signed_in? %>
              <li class="nav-item mt-1"><%= link_to 'Logout', destroy_user_session_path, method: :delete, class:"nav-item text-light" %></li>
            <% else %>
              <li class="nav-item mt-2"><%= link_to 'login', new_user_session_path, class:"dropdown-item nav-link  text-light" %></li>
            <% end %>

        </form>
      </div>
    </div>
  </nav>
<% end %>